@main("Aplicacion de demo"){
    
    <h1>Aplicación que solo muestra el flujo entre pantallas, llenado de campo y radiobuttons</h1>
    
    <h1 id="labeling"></h1>
    
    <p>
        Esta aplicación es mas didactica que otra cosa...
    </p>

     <p class="buttons">
         <input type="submit" id="submit" value = "just for show, does nothing">
     <p>

     <p class="buttons">
         <input type="button" name="send" value = "just for show, does nothing"/>
     <p>

     <p class="buttons">      
          <a href="@routes.Application.chooseFile">Go to a Regular Input Field</a>
     <p>
    
     <p class="buttons">      
          <a href="@routes.Application.chooseFileByRadioButtons">Go to Radio Buttons!</a>
     <p>    
    
@*****
    <script type="text/javascript" charset="utf-8">
        // Called for each Comet message
        var clockChanged = function(time) {
            $('#clock').html(time.replace(/(\d)/g, '<span>$1</span>'))
        }
    </script>
    
    <iframe id="comet" src="@routes.Application.liveClock.unique"></iframe>
*****@
}