@(formm: play.api.data.Form[Tester], listOfFiles: Array[String])

@import views.html.helper._

@main("Radio Buttons"){
    
    <h1>Aqui se elegira un Radio Button</h1>
    
    <h1 id="select radio button"></h1>
    
    <p>
        Aqui se elegira una opcion por medio de radio buttons...
    </p>
@*****************
    <form method="post" action="@routes.Application.radioButtonSelectedd">
       <input type="text" name=@listOfFiles(0) /><br/>
       <input type="text" name=@listOfFiles(1) /><br/>
       <input type="text" name=@listOfFiles(2) /><br/>
       <input type="text" name=@listOfFiles(3) /><br/>
       <input type="text" name=@listOfFiles(4) /><br/>

        <input type="submit" value="Post" />
     </form>
*****************@

     <form name="myform" action="@routes.Application.radioButtonSelectedd" method="POST">
        <div align="left"><br>
           @for(i <- listOfFiles){
           <input type="radio" name="group1" value=@i> @i<br>
           }
        </div>
        <input type="submit" value="Post">
     </form>     

@****************     
     <form name="myform" action="@routes.Application.radioButtonSelectedd" method="POST">
        <div align="left"><br>
           <input type="radio" name="group1" value=@listOfFiles(0) checked> @listOfFiles(0)<br>
           <input type="radio" name="group1" value=@listOfFiles(1)> @listOfFiles(1)<br>
           <input type="radio" name="group1" value=@listOfFiles(2)> @listOfFiles(2)
        </div>
        <input type="submit" value="Post">
     </form>     
******************@

@*************    
      @helper.form(action = routes.Application.radioButtonSelectedd) {
      
      This helper can accomodate selected value of radio button if present 
      @helper.inputRadioGroup(
         formm("name"),
         options = options(listOfFiles(0) -> listOfFiles(0), 
         	               listOfFiles(1) -> listOfFiles(1), 
         	               listOfFiles(2) -> listOfFiles(2), 
         	               listOfFiles(3) -> listOfFiles(3), 
         	               listOfFiles(4) -> listOfFiles(4) )
         	               )         	
      <input type="submit" value="Post">
      }
*************@

@******
         options = options(
         	@for(ii <- listOfFiles)yield ii -> ii
         	)
******@
    	
@*****        	
         	@for(i <- 0 to (listOfFiles.length - 1) yield listOfFiles(i) -> listOfFiles(i)   	
         	)
******@


     <p class="buttons">      
          <a href="@routes.Application.selectFile">Ve con el valor de default....</a>
     <p>

     <p class="buttons">      
          <a href="@routes.Application.index">Return to Main Page</a>
     <p>

        

}